/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* FIM RESET GLOBAL */

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

#root {
  padding: 30px 50px;
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#btn-calcular {
  background: #1a73e8;
  padding: 10px;
  border: 1px #1a73e8 solid;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
}